body{background-color:#9F0C20}
#header{
	display:block;
}
#header h1{margin-bottom:0px}
#header h1 a{
	/*background-image:url('images/mockupdd.red.png');*/
	display:block;
	width:145px;
	height:40px;
	text-indent:-9999pt;
}
#header p, #footer p{
	font-family:Verdana;
	color:#ddd;
	font-size:.75em;
	margin:0 0 10px 0;
}
#footer{
	display:block;
	background-image:url('images/footer.bg.png');
	height:150px;
	padding-top:20px;
}
#footer #logos{
	background:url('images/logos.png') center no-repeat;
	display:block;
	height:60px;
	text-indent:-9999pt;
}
#footer p{
	text-align:center;
	color:#666;
}
