.feature {
	background: #F7FF69;
	padding: 5px;
	height: 50px;
	width: 200px;
	position: fixed;
	overflow: hidden;
	-webkit-box-shadow: 4px 4px 9px rgba(50, 50, 50, 0.44);
	-moz-box-shadow:    4px 4px 9px rgba(50, 50, 50, 0.44);
	box-shadow:         4px 4px 9px rgba(50, 50, 50, 0.44);
	z-index: 1;
}

.featureWithErrors {
	background: #FFC400;
	border: 2px dotted red;
}

textarea.featureInput {
	border: none;
	background: none;
	width: 100%;
	height: 100%;
	font-family: 'Englebert', cursive;
	font-size: 16px;
}

.featureText {
	line-height: 100%;
	width: 100%;
	height: 100%;
	font-family: 'Englebert', cursive;
	font-size: 16px;
	overflow: hidden;
	padding: 5px;
}

.closeButton {
	position: absolute;
	/*background-color: red;*/
	color: white;
	margin-top: 10px;
	/*padding: 2px;*/
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
	-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 1);
	box-shadow:         1px 1px 2px rgba(50, 50, 50, 1);
	cursor: pointer;
	font-weight: bold;
	border-radius: 4px;
	z-index: 3;
}

.mockupEditor {
	min-height: 400px;
}

.mockupImage {
	margin-top: 10px;
	-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 8px rgba(50, 50, 50, 1);
}

.textPopup textarea {
	width: 100%;
	height: 94%;
}

.connectionHandler {
	position: absolute;
	/*width: 15px;
	height: 15px;
	background-color: lightgreen;*/
	z-index: 3;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
	-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 1);
	box-shadow:         1px 1px 2px rgba(50, 50, 50, 1);
	border-radius: 2px;
	/*padding-left: 10px;*/
	cursor: pointer;
}

.selectedConnectionHandler {
	-webkit-box-shadow: 0px 0px 10px rgba(100, 0, 0, 1);
	-moz-box-shadow:    0px 0px 10px rgba(100, 0, 0, 1);
	box-shadow:         0px 0px 10px rgba(100, 0, 0, 1);
}

.connection {
	z-index: 1;
}

.arrow {
	position: absolute;
	z-index: 1;
}

.noty_message {
	font-family: verdana, arial;
}
